* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
}

p, h1, span {
	color: white;
}

span, p { 
	font-size: 1em;
}

.wrapper {
	padding: 10px 0px;
	background-color: #141414;
	min-height: 100vh;
}

.catalog {
	width: 60%;
	padding: 10px;
	margin: 0 auto;
	border-radius: 10px;
	background-color: #1c1c1e;
}

.films {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
}

.header {
	display: flex;
	justify-content: space-between;
}

.card {
	margin: 1%;
	padding: 5px;
	cursor: pointer;
}

img {
	margin: 2px;
	width: 12px;
}

.backgroundImage {	
	min-height: 200px;
}

.info {
	background-color: #141414;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.filmTitle {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.score {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.score div {
	padding: 3%;
}

.score {
	font-size: 0.8em;
}

.score  img, .score span {
	display: block;
}
.score img {
	margin: 0 auto;
}

.nameClass {
	width: 10px;
	height: 10px;
	background-color: black;
}

.vote_average {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pagination {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination img {
	background-color: white;
	border-radius: 100%;
	padding: 5px;
	width: 35px;
	height: 35px;
}

.pagination div {
	margin: 0 5px;
}

.page {
	padding: 5px;
	text-align: center;
	border-radius: 100%;
	font-size: 20px;
}

.active {
	background-color: white !important;
}

.page, .previous_button, .next_button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.pages {
	display: flex;
}

.film {
	display: none;
}

.film_img img {
	width: 200px;
}

.film_describe {
	white-space: wrap;
}

.back  {
	display: none;
}

.back img {
	cursor: pointer;
	width: 40px;
	border: 5px solid black;
	margin: 2px;
	padding: 2px;
	border-radius: 100%;
}

.film_right {
	padding: 10px;
}

.film_name {
	width: 85%;
	font-size: 2em;
}
.film_name p {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.film_info {
	display: flex;
	justify-content: space-between;
}

.film_score {
	display: flex;
	align-items: flex-end;
}

.film_voting {
	font-size: .9em;
	color: #443f3f;
}

.film_describe {
	margin-top: 10px;
	width: 100%;
}

.film_genres {
	margin-top: 10px;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	font-size: .9em;
}
.film_genres .genre {
	padding: 5px;
	margin: 5px 10px 5px 0px;
	border: 1px solid #141414;
	border-radius: 10px;
}

.genre p {
	color:  #443f3f;
}

.film_date > div {
	margin: 10px 0;
    text-overflow: ellipsis;
    white-space: wrap;
    width: 200px;
}

.film_date > div p:nth-child(1) {
	color: black;
	font-size: .8em;
	color: #443f3f;
}

.film_date > div :not(p:nth-child(1)) {
	font-size: .9em;
}

@media (min-width: 1024px) and (max-width: 1680px) {
	.film_right {
		width: 70%;
	}
}

@media (min-width: 1024px){
	.film_right {
		width: 60%;
	}
	.card {
		width: 18%;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.film_right {
		width: 45%;
	}
	.card {
		width: 23%;
	}
}

@media (min-width: 425px) and (max-width: 768px) {
	.film_right {
		width: 45%;
	}
	.film {
		flex-direction: column;
		align-items: center;
	}
	.card {
		width: 48%;
	}
}

@media (max-width: 425px) {
	.film_img  {
		display: flex;
		justify-content: center;
	}
	.film_img img {
		width: 150px;
	}
	.film_right {
		justify-content: flex-start;
		width: 75%;
	}
	.film {
		flex-direction: column;
		align-items: center;
	}
	.card {
		width: 100%;
	}
}